<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.gym.mapper.GymCourseMapper">

    <resultMap type="GymCourse" id="GymCourseResult">
        <id property="courseId" column="course_id"/>
        <result property="courseName" column="course_name"/>
        <result property="courseDescription" column="course_description"/>
        <result property="courseTime" column="course_time"/>
        <result property="trainerId" column="trainer_id"/>
        <result property="trainerName" column="trainer_name"/>
        <result property="courseFee" column="course_fee"/>
    </resultMap>

</mapper>